header img{
/*    display: block;*/
    width: 100%;
}
.header{
    background-image: url("img/Layer%2021.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.brand{
    text-align: center;
    padding-top: 10px;
}
h2{
    padding:  70px 0;
}